<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>
    <div class="row">
        <div class="col-md-3"><img class="img-responsive" src="../static/resources/images/pets.png"
                                   th:src="@{/resources/images/pets.png}"/></div>
        <div class="col-md-9"><h1 style="font-size: 32px; font-weight: bold; line-height: 1.5;">Welcome</h1>
            <h2>Spring PetClinic - Kotlin Edition</h2>
        </div>
    </div>
</body>
</html>